<form #paginationForm="ngForm" (ngSubmit)="onPaginationSubmit()">
  <label for="pageNumber">Page number</label><br>
  <input id="pageNumber" type="number" name="pageNumber" min="1" required [(ngModel)]="pageNumber"/>
  <br><label for="pageSize">Page size</label><br>
  <input id="pageSize" type="number" name="PageSize" min="5" required [(ngModel)]="pageSize"/>
  <br><label for="searchPhrase">Search phrase</label><br>
  <input id="searchPhrase" name="searchPhrase" [(ngModel)]="searchPhrase"/>
  <br><label for="sortBy">Sort by</label><br>
  <input id="sortBy" name="sortBy" [(ngModel)]="sortBy"/>
  <br><label for="sortDirection">Sort direction</label><br>
  <input id="sortDirection" name="sortDirection" [(ngModel)]="sortDirection"/>
  <input type="submit" name="submit" value="pobierz" [disabled]="!paginationForm.valid"/>
</form>
<br>
<h1>Products</h1>
<br>
<table class="table table-striped" border="1">
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Is Available</th>
  </thead>
    <tbody>
      <tr *ngFor="let p of result?.items" class="selectable" [app-product-row]="p" (click)="onRowChoosed(p.productId)"></tr>
    </tbody>

</table>

<br>
<mat-paginator [length]="result?.totalItemsCount"
              [pageSize]="pageSizeOptions[0]"
              (page)="handlePageEvent($event)"
              [pageSizeOptions]="pageSizeOptions">
</mat-paginator>

